{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'partials/nav_bar.html' %}
        {% load static %}
{% block 'additional_includes' %}
    <link rel="stylesheet" type="text/css" href="{% static "style/profile.css " %}" />
{% endblock %}
<!--/*Page Content */-->

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-responsive center-block rounded-circle" src="{{ user.profile.profile_pic.url }}" alt="">
                        <h6 class="bg-warning text-white rounded-pill p-2" >{{user.first_name|capfirst}} {{user.last_name|capfirst}}</h6>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
        					<li><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
        					<li><a href="/profile/my_projects"><span class="fa fa-clipboard-list"></span> My Projects</a></li>
        					<li><a href="/profile/my_donations"><span class="fa fa-donate"></span> My Donations</a></li>
                            <li class="active"><a href="/profile/delete" class="text-danger"><span class="fa fa-minus-circle text-danger"></span> Delete My Account</a></li>

        				</ul>
        			</nav>
                </div>
                <div class="content-panel">

<!--                    Here-->
                    <form method="POST">
                        {% csrf_token %}
                        <h2 class="title border-bottom pb-3">Delete My Account</h2>
                        <div class="d-flex flex-column align-items-center">
                            <div class="row mb-2">
                                <i class="fa fa-times-circle fa-7x text-danger"></i>
                            </div>
                            <h4 class="text-dark">Are you sure?</h4>
                            <div class=" row text-muted mb-2">
                                <p >Do you really want to delete your account ? This process cannot be undone.</p>
                            </div>
                            <input class="btn btn-danger" type="submit" value="Delete">

                        </div>
                    </form>
<!--                    End-->
                </div>
            </div>
        </section>
    </div>
</div>

<!--/*End ofPage Content */-->
{% endblock %}
