{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% block 'additional_includes' %}
    <link rel="stylesheet" type="text/css" href="{% static "style/auth.css " %}" />
{% endblock %}
{% include 'partials/login_nav.html' %}
<div class="container mt-4">
    <div class="form">
        <div class="note">

                    <p><strong>Login</strong> into your account to access projects, your donations,
                        discussion boards and more.</p>
        </div>
        <div class="form-content">
            <form method="post" action="{% url 'Users:login' %}">

                {% csrf_token %}
                {{ user_form|crispy}}
                 <div class="form-group">
                    <label for="username">Email</label>
                    <input class="form-control" type="email" name="username" placeholder="enter email">
                 </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="row">
                   <input class="btnSubmit offset-4 col-md-4 " type="submit" name="" value="Login">
                </div>


            </form>
        </div>
    </div>
</div>
{% endblock %}
