{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'partials/nav_bar.html' %}
        {% load static %}
{% block 'additional_includes' %}
    <link rel="stylesheet" type="text/css" href="{% static "style/profile.css " %}" />
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
{% endblock %}
<!--/*Page Content */-->

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="{{ user.profile.profile_pic.url }}" alt="">
                        <h6 class="bg-warning text-white rounded-pill p-2" >{{user.first_name|capfirst}} {{user.last_name|capfirst}}</h6>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
        					<li><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
        					<li class="active"><a href="/profile/my_projects"><span class="fa fa-clipboard-list"></span> My Projects</a></li>
        					<li><a href="/profile/my_donations"><span class="fa fa-donate"></span> My Donations</a></li>
                            <li><a href="/profile/delete" class="text-danger"><span class="fa fa-minus-circle text-danger"></span> Delete My Account</a></li>


        				</ul>
        			</nav>
                </div>
                <div class="content-panel">

<!--                    Here-->
                    <h2 class="title">My Projects</h2>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Project Title</th>
                          <th scope="col">Current Money</th>

                        </tr>
                      </thead>
                      <tbody>

                      {% for project in projects %}
                      <tr>
                          <td><a href="/projects/{{project.id}}">{{project.title}}</a></td>
                          <td> {{project.current_money}}&#36; </td>

                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
<!--                    End-->
                </div>
            </div>
        </section>
    </div>
</div>

<!--/*End ofPage Content */-->
{% endblock %}
