{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% block 'additional_includes' %}
    <link rel="stylesheet" type="text/css" href="{% static "style/auth.css " %}" />
{% endblock %}
<!--/*Page Content */-->
{% include 'partials/login_nav.html' %}
<div class="container register-form mt-4">
    <div class="form ">
        <div class="note">
            <p>Funding is now fast, easy, and has no raise requirements or start up fees. <strong>Join Us Now !</strong></p>

        </div>
        {% if registered %}
        <h1>Please Visit Your E-mail To Activate Your Account!</h1>
        <hr>

        <h2>or you can</h2>
        <label for="login">
            <a class="nav-link" href="{% url 'Users:login' %}">Login Directly</a>
        </label>
        {% else %}
        <div class="form-content container">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="offset-1 col-md-10">
                        {{ user_form|crispy }}
                    </div>

                </div>
                <div class="row">
                    <div class="offset-1 col-md-10">
                        {{ profile_form|crispy }}
                    </div>
                </div>
                <div class="row">
                   <input type="submit" class=" offset-1 col-md-10 btnSubmit" value="Sign Up">
                </div>
                <div class="row">
                    <a href="{% url 'Users:login' %}" class="btn btn-link offset-4 col-md-4">
                                    Already a member ? Login in
                    </a>
                </div>
            </form>
        </div>
        {% endif %}

    </div>
</div>

<!--/*End ofPage Content */-->
{% endblock %}
