{% extends 'base.html' %}
{% block content %}
<script>
    $(document).ready(function() {
    $("input").addClass("form-control");
    $("#id_Pictures").removeClass("form-control");});
</script>
{% include 'partials/nav_bar.html' %}
{% load static %}
{% if submitted %}
    <p> your project added successfully</p>
{% else %}

    <form style="margin:30px" class="d-flex justify-content-center"  method="post" enctype="multipart/form-data">

            {% csrf_token %}
        <table>

            {{ form  }}

           <tr>
               <td>&nbsp;</td>
               <td><input class="btn btn-primary" type="submit" value="Submit"></td>
           </tr>
       </table>

</form>
{% endif %}
{% endblock %}